*{margin: 0px;}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 140px;    
}

.logo h2{
    font-size: 35px;
}
.logo span{
    color:  #36E9FD;
   
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;    
}

.menu a{
    text-decoration: none;
    color:  #3C354F;
}

.menu li{
    padding: 10px 10px;
    font-size: 18px;
}

.folowUsOnPage{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.folowUsOnPage img{
    width: 28px;
    margin-left: 10px;
}

/*  ....... nav bar end  ......*/


/*  ...... banner ...... */
.banner{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content h1{
    font-size: 50px;
}

.Goat{
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
    margin: 10px 0;
}

.banner-content p{
    color:  #534C64;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-primary{
    padding: 20px 40px;
    border: none;
    border-radius: 45px ;
    color: white;
    background-color: #36E9FD;
}

.btnGo{
    padding: 20px 40px;
    border: none;
    border-radius: 45px ;
    color: white;
    background-color: #1D5D9B;
    margin-left: 20px;
}

.btn{
    margin-top: 27px;
}







