*{margin: 0px;}

/*  shared style */

.section-title{
    font-size: 50px;
    margin-bottom: 15px;
}

.section-title span{
    color: #1D5D9B ;
}


.section-description{
    color:  #534C64;
    font-size: 20px;
}
/* ------------------ */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 140px;    
}

.logo h2{
    font-size: 35px;
}
.logo span{
    color:  #36E9FD;
   
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;    
}

.menu a{
    text-decoration: none;
    color:  #3C354F;
}

.menu li{
    padding: 10px 10px;
    font-size: 18px;
}

.folowUsOnPage{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.folowUsOnPage img{
    width: 28px;
    margin-left: 10px;
}

/*  ....... nav bar end  ......*/


/*  ...... banner ...... */
.banner{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 80px 0;
}

.banner-content h1{
    font-size: 50px;
}

.Goat{
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
    margin: 10px 0;
}

.banner-content p{
    margin-bottom: 10px;
}

.btn-primary{
    padding: 20px 40px;
    border: none;
    border-radius: 45px ;
    color: white;
    background-color: #36E9FD;
}

.btnGo{
    padding: 20px 40px;
    border: none;
    border-radius: 45px ;
    color: white;
    background-color: #1D5D9B;
    margin-left: 20px;
}

.btn{
    margin-top: 27px;
}


/*  .... MAin ......... */


.container-content{
    text-align: center;
    margin-bottom: 50px ;
}


.cards{
    display: flex;
    justify-content: space-around;
}
.cards img{
    width: 300px;
}



/*     play instant        */

.play-instant{
    display: flex;
    justify-content: space-around;
    margin: 100px 0 0 0;
}

.mini-img{
    position: relative;
    right: 170px;
    bottom: 290px;
}

.section-content{
    margin-top: 180px ;
}

/*  .........games btn......... .. */

.games-btn button{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    color: black;
    background-color: white;
    border: none;
}

.games-btn{
    display: grid ;
    grid-template-columns: repeat(5 ,1fr);
    justify-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.games-btn button:hover{
    border: 1px solid  #1D5D9B;
    color:#1D5D9B;
    padding: 3px;
}


/* ........... */

footer{
    background: #0B0223;
    padding: 50px 0; 
}

footer ul li{
     list-style: none;  
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

.footer-logo img{
    width: 85px;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo span{
    color: #36E9FD;
}

.footer-logo h2{
    font-size: 40px;
    color: white;
}

.sochial-links  {
    display: flex;
    justify-content: center;
}

.sochial-links img{
    width: 30px;
}

.sochial-links button{
    margin: 20px;
}

.links , .policy{
 display: flex;
 justify-content: center;
 margin: 30px 0px;
}

.links li , .policy li{
    padding: 0 30px;
}

.policy a{
    color: rgb(80, 81, 81) ;
}

footer p{
    color: rgb(80, 81, 81);
    text-align: center;
}

